body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Indie Flower", cursive;
  background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjU0NmJhdGNoMy1teW50LTM0LWJhZGdld2F0ZXJjb2xvcl8xLmpwZw.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-shadow: 0 0 10px crimson;
  color: rebeccapurple;
}

img {
  width: 300px;
  border-radius: 50%;
}

p {
  font-size: 1.2rem;
  background-color: antiquewhite;
  border: 1px solid rgb(182, 170, 154);
  border-radius: 20px;
  padding: 10px;
}

img,
p {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
